services:

  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017     
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example 
    networks:
      - app-network

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH: false
    networks:
      - app-network

  backend:
    build: 
      context: ./backend
      dockerfile: ./Dockerfile.back
    ports: 
      - 3000:3000
    volumes:
      - ./backend:/app
    environment: 
      - HTTP_PORT=3000
      - MONGODB_URL=mongodb://root:example@mongo:27017/
      - JWT_SECRET=SECRET
    networks:
      - app-network

  frontend:
    build: 
      context: ./frontend
      dockerfile: ./Dockerfile.front
    ports: 
      - 5173:5173
    # volumes:
    #   - ./frontend:/app
    environment: 
      - VITE_MAIN_URL=http://localhost:3000/api
      - VITE_SERVER_URL=http://localhost:3000
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

